<h1>Player List</h1>
  {{!-- <div class="player-list">
    {{#each players as |player|}}
      <div class="player-card">
        <h2>{{player.displayName}}</h2>
        <!-- Add more player details here -->
      </div>
    {{/each}}
    </div> --}}