<h1>Blizzard Authentication</h1>
<button id="authButton">Get Auth Token</button>
<button id="leaderboardButton">Fetch Grandmaster Leaderboard</button>
<button id="switchButton">Switch to Leaderboard</button>
<p>Authentication Token: <span id="authToken"></span></p>